<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072112112334-ra22v7982tnggivvt15b8ivllmpdbj0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072112112334-ra22v7982tnggivvt15b8ivllmpdbj0k</string>
	<key>API_KEY</key>
	<string>AIzaSyAaHV5JaJPc-b8L2ZTzDU4dgzXW-8k3J1k</string>
	<key>GCM_SENDER_ID</key>
	<string>1072112112334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travisblack.nontourage</string>
	<key>PROJECT_ID</key>
	<string>nontourage-ea83d</string>
	<key>STORAGE_BUCKET</key>
	<string>nontourage-ea83d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072112112334:ios:25513a7ef5c552f033369f</string>
</dict>
</plist>